table{
  width: 90%;
  border: 1px solid #ccccff;
  color: #0000a0;
}
th{
  border: 1px solid #ccccff;
  font-weight: bolder;
}
td{
  text-align: center;
  border: 1px solid #ccccff;
}
h1{
  text-align: center;
}
body{
  background-color: #f5f5f5;
  font-family: impact,fantasy;
}
