h1{
  text-align: center;
  font-family: Times, serif;
  color: white;
}
body{
  background-color: black;
  font-size:15px;
}
ul{
  list-style-type: none;
  margin-left: 0;
  padding: 10px;
}
a:link{
    color: #E71414;
    text-decoration: underline;
}
a:visited{
  color: #87877E;
}
a:hover{
  color: #FFFF00;
  background-color: #E71414;
  text-decoration: none;
  list-style-image: none;

}

