h1{
  text-align: center;
  font-family: Times, serif;
  color:white;
}
nav ul{
  list-style-type: none;
  margin-left: 0;
  padding: 10px;
}
nav a:link{
    color: red;
    text-decoration: underline;
}
nav a:hover{
  color: yellow;
  background-color: red;
  text-decoration: none;
  list-style-image: none;

}
nav a:visited{
  color: gray;
}
body{
  background-color: black;
  font-size:15px;
}
