ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.overlay{
   opacity:0.8;
   background-color:#ccc;
   position:fixed;
   width:100%;
   height:100%;
   top:0px;
   left:0px;
   z-index:1000;
}
footer{
  font-size: 0.5em;
  text-align: left;
  margin-top:80;
}
thead{
  font-size:2em;
  text-align: center;
}
table {
    width: 90%;
    border: 1px solid black;
    color: black;
    text-align: center;
    align-items: stretch;
}
tr td:last-child {
  font-size: 1.5em;
}
tr{
  font-size:1em;
}
