body{
  color: black;
  font-family: Florence;
  display: block;
  text-align: center;
}

.introduction{
  text-align: center;
  display: none;
  font-size: 70%;
  background-color: black;
  color: white;
}
.overlay{
   opacity:0.8;
   background-color:black;
   position:fixed;
   width:100%;
   height:100%;
   top:0px;
   left:0px;
   z-index:1000;
}
.continue{
  display: none;
}
.hide{
  display: none;
}
.startup{
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 3em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer{
    font-size: 0.5em;
    text-align: left;
    margin-top:80;
}
