body{
  text-align: center;
  font-family: Florence;
  display: block;
}

.introduction{
  display: none;
  font-size: 70%;
  background-color: black;
  color: white;
}
.continue{
  display: none;
}
.hide{
  display: none;
}
.startup{
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 3em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
